*{
        box-sizing: border-box;
        margin: 0px;
        padding: 0px;
		font-family: Arial, sans-serif;
    }

    nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
    font-family: Arial, sans-serif;
      background-color: #fff;
      padding: 0px 90px;
      box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    }
    
    .logo {
      font-size: 60px;
    }
    
    .nav-links {
      display: flex;
      justify-content: space-between;
      align-items: center;
      list-style: none;
      margin: 0;
      padding: 0;
    }
    
    .nav-links li {
      margin: 0 10px;
    }
    
    .nav-links li a {
      text-decoration: none;
      color: #333333;
      font-weight: bold;
    }
    
    .nav-links li a:hover {
      color: #ffcce7;
      transition: 0.3s;
    }
    
    @media only screen and (max-width: 600px) {
      nav {
        flex-direction: column;
        align-items: flex-start;
        padding: 10px;
      }
      
      .nav-links {
        flex-direction: column;
      }
      
      .nav-links li {
        margin: 10px 0;
      }
    }
    
  


main{
  display: flex;
  justify-content:center ;
  align-items: center;
  width: 100%;
  height: auto; 

  padding-top: 20px;
  /* align-items: center; */
  flex-direction: column;
}
    
.categories-list {
  list-style: none;
  width: 400px;
	/* width: 97%;
	height: 78.2vh; */
	/* margin-top: 80px; */
  /* background-color: aqua; */
  margin-bottom: 0px;
  border: 1px solid #f6bfdb5f;
  padding: 50px;
  box-shadow: 0px 0px 10px rgba(237, 191, 228, 0.698);
}



.categories-list li {
  margin: 10px 0;
  list-style-type: circle;
  color: #d683b0;
  
}

.categories-list a {
  color: #ffcce7;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
}

.categories-list a:hover {
  text-decoration: underline;
  color: #d683b0;
}

.products-list {
  margin-top: 20px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  color: rgb(187, 184, 184);
  background-color: rgba(246, 233, 243, 0.06); 
  height: auto;
  justify-content: center;
  border-radius: 15px;
  padding: 70px 20px;
  margin-bottom: 50px;
  width: 80%;
  border: 1px solid #ebd9e6a5;
  box-shadow: 0px 0px 5px #ffffffa5; 
}

.products-list li {
  margin: 10px 0;
  list-style-type: circle;
}

.products-list a {
  color: #979191;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
}

.products-list a:hover {
  text-decoration: underline;
  color: #7a7a7a;
}

.products-list img{
  height: 180px;
  width: auto;
  margin-right: 20px;
}

.products-list h1{
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.card{
  width: 25%;
  min-height: 400px;
  justify-content: center;
  flex-direction: column;
  display: flex;
  margin-right: 20px;
  background-color: #fff;
  margin-bottom: 20px;
  padding: 20px;
  border: 1px solid #fda3e27a;
  box-shadow: 0px 0px 10px rgba(241, 195, 237, 0.665);
  border-radius: 10px;
}

.card h1{
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.card p{
  font-size: 14px;
  margin-bottom: 10px;
}

.price{
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 10px;
}