*{
    margin: 0px;
    padding: 0px;
}

body{
    padding: 30px;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    width: 690px;
    background-color: rgba(243, 200, 221, 0.158);
    /* height: 83vh; */
    display: flex;
    padding: 50px;
    color: white;
    border-radius: 15px;
    flex-direction: column;
    box-shadow:  5px 10px 8px 10px #8f8b8ba8;
    align-items: center;
}
.card img{
    width: 200px;
    height: 300px;
}
.card h2{
    margin-top: 15px;
    text-align: center;
    color: rgba(199, 193, 193, 0.747);
}
.card p{
    margin-top: 10px;
    color: rgb(161, 161, 161);
    text-align: center;
}

.card h3{
    margin-top: 5px;
    color: white;
}
.card button{
    margin-top: 10px;
    padding: 12px 50px;
    border-radius: 10px;
    background-color: #ffffffa8;
    color: rgb(0, 0, 0);
    font-size: 1rem;
    border: 2px solid #f3bce39f;
}

.card button:hover{
  border: 1px solid #e7e7e79f;
    background-color: #eed0e59f;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}




