nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 20px 90px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  }
  
  .logo {
    font-size: 60px;
  }
  
  .nav-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .nav-links li {
    margin: 0 10px;
  }
  
  .nav-links li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
  }
  
  .nav-links li a:hover {
    color: #ffcce7;
    transition: 0.3s;
  }
  
  @media only screen and (max-width: 600px) {
    nav {
      flex-direction: column;
      align-items: flex-start;
      padding: 10px;
    }
    
    .nav-links {
      flex-direction: column;
    }
    
    .nav-links li {
      margin: 10px 0;
    }
  }
  

/*  */



main {
	padding: 20px;
}

#products-list {
	display: grid;
	grid-template-columns: repeat(5, minmax(100px, 300px));
	gap: 20px;
}

.product-card {
    border: 2px solid #ffcce652;
	background-color: #ffffff;
	box-shadow: 0 0 5.8px #d186ada6;
	padding: 20px;
	text-align: center
}

.product-card:hover{
	box-shadow:3px 5px 6px rgba(79, 72, 80, 0.3);
	transition: 0.3s;
}

.product-card img {
	max-height: 50%;
    max-width: 60%;
}

.product-card h2 {
	font-size: 1.2rem;
	margin-top: 0;
}

.product-card p {
	margin: 0;
	font-size: 1rem;
	font-weight: bold;
	margin-bottom: 10px;
}

.product-card button {
	background-color: #ffcce7;
	color: #fff;
	border: none;
	padding: 10px 20px;
	border-radius: 5px;
	cursor: pointer;
}

.product-card button:hover {
    background-color: #db90b8;
    color: #fff;
    transition: 0.3s;
}